target/
*.class
*.jar
*.war
*.log
*.ear
*.zip
*.tar.gz
*.rar
node_modules/
dist/
dist-ssr
*.local
.idea/
*.iml
.vscode/
.settings/
.project
.classpath
.DS_Store
*.swp
*.swo
*.suo
*.ntvs*
*.njsproj
*.sln
